In [2]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r"C:\Users\ruth\Documents\software courses\3rd year\2nd Semester\Fundamental Of Machine Learning\Assignment\Hate-Speech-Detection\Data\labeled_data.csv")
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [3]:
# get dimensions of dataframe
df.shape

(24783, 7)

In [4]:
# renaming columns for easier reference
df = df.rename(columns={"hate_speech": 'hate', "offensive_language": 'offensive', "neither": 'neutral', "class": 'target',"tweet":'speech'})
df.head()

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [6]:
# create hate and non-hate categories by combining offensive and neutral categories
df.target = df.target.replace([2], 1) 
df.target = df.target.replace([0, 1], [1, 0]) 
df.target.value_counts()

0    23353
1     1430
Name: target, dtype: int64

In [29]:
# Data preprossecing
#Preprocessing of the speech
# Removing usernames
import regex as re
def remove_users(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'(RT\s@[A-Za-z]+[A-Za-z0-9-_]+)', '', str(x))) 
    df[col] = df[col].apply(lambda x: re.sub(r'(@[A-Za-z0-9-_]+)', '', str(x)))

remove_users(df, 'speech')
df.head()

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,!!! : As a woman you shouldn't complain about ...
1,1,3,0,3,0,0,!!!!! : boy dats cold...tyga dwn bad for cuffi...
2,2,3,0,3,0,0,!!!!!!! Dawg!!!! RT : You ever fuck a bitch a...
3,3,3,0,2,1,0,!!!!!!!!! : she look like a tranny
4,4,6,0,6,0,0,!!!!!!!!!!!!! : The shit you hear about me mig...

In [31]:
# removing Character References
def remove_charef(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'&[\S]+?;', '', str(x)))

remove_charef(df, 'speech')
df.head()

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,!!! : As a woman you shouldn't complain about ...
1,1,3,0,3,0,0,!!!!! : boy dats cold...tyga dwn bad for cuffi...
2,2,3,0,3,0,0,!!!!!!! Dawg!!!! RT : You ever fuck a bitch a...
3,3,3,0,2,1,0,!!!!!!!!! : she look like a tranny
4,4,6,0,6,0,0,!!!!!!!!!!!!! : The shit you hear about me mig...

In [32]:
# removing hashtags
def remove_hashtags(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'#', ' ', str(x)))

remove_hashtags(df, 'speech')
df.head()

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,!!! : As a woman you shouldn't complain about ...
1,1,3,0,3,0,0,!!!!! : boy dats cold...tyga dwn bad for cuffi...
2,2,3,0,3,0,0,!!!!!!! Dawg!!!! RT : You ever fuck a bitch a...
3,3,3,0,2,1,0,!!!!!!!!! : she look like a tranny
4,4,6,0,6,0,0,!!!!!!!!!!!!! : The shit you hear about me mig...

In [33]:
# removing URLS
def remove_links(df, col): 
    df[col] = df[col].apply(lambda x: re.sub(r'http\S+', '', str(x)))  # remove http links 
    df[col] = df[col].apply(lambda x: re.sub(r'bit.ly/\S+', '', str(x)))  # remove bit.ly links    
    
remove_links(df, "speech")
df.head()

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,!!! : As a woman you shouldn't complain about ...
1,1,3,0,3,0,0,!!!!! : boy dats cold...tyga dwn bad for cuffi...
2,2,3,0,3,0,0,!!!!!!! Dawg!!!! RT : You ever fuck a bitch a...
3,3,3,0,2,1,0,!!!!!!!!! : she look like a tranny
4,4,6,0,6,0,0,!!!!!!!!!!!!! : The shit you hear about me mig...

In [34]:
# Removing Punctuation
def remove_punctuation(df, col):    
    df[col] = df[col].apply(lambda x: re.sub(r'[^\w\s]', r'', str(x)))

remove_punctuation(df, 'speech')
df.speech.head(20)

0       As a woman you shouldnt complain about clean...
1       boy dats coldtyga dwn bad for cuffin dat hoe...
2       Dawg RT  You ever fuck a bitch and she start...
3                                she look like a tranny
4       The shit you hear about me might be true or ...
5      The shit just blows meclaim you so faithful a...
6      I can not just sit up and HATE on another bit...
7      cause Im tired of you big bitches coming for ...
8          you might not get ya bitch back  thats that
9          hobbies include fighting Mariam\r\n\r\nbitch
10     Keeks is a bitch she curves everyone  lol I w...
11                      Murda Gang bitch its Gang Land
12        So hoes that smoke are losers   yea  go on IG
13           bad bitches is the only thing that i like
14                                 bitch get up off me
15                         bitch nigga miss me with it
16                                  bitch plz whatever
17                               bitch who do you love
18                      bitches get cut off everyday B
19                           black bottle  a bad bitch
Name: speech, dtype: object

In [35]:
# lower casing : making all the characters lower case
def lowercasing(df, col):
    df[col] = df[col].apply(lambda x: " ".join(x.lower() for x in x.split()))

lowercasing(df, 'speech')
df.speech.head(20)

0     as a woman you shouldnt complain about cleanin...
1     boy dats coldtyga dwn bad for cuffin dat hoe i...
2     dawg rt you ever fuck a bitch and she start to...
3                                she look like a tranny
4     the shit you hear about me might be true or it...
5     the shit just blows meclaim you so faithful an...
6     i can not just sit up and hate on another bitc...
7     cause im tired of you big bitches coming for u...
8            you might not get ya bitch back thats that
9                 hobbies include fighting mariam bitch
10    keeks is a bitch she curves everyone lol i wal...
11                       murda gang bitch its gang land
12           so hoes that smoke are losers yea go on ig
13            bad bitches is the only thing that i like
14                                  bitch get up off me
15                          bitch nigga miss me with it
16                                   bitch plz whatever
17                                bitch who do you love
18                       bitches get cut off everyday b
19                             black bottle a bad bitch
Name: speech, dtype: object

In [36]:
# remove numbers or words with digits  
def remove_numerics(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'\w*\d\w*', r'', str(x)))
    

remove_numerics(df, 'speech')
df.speech.head(20)

0     as a woman you shouldnt complain about cleanin...
1     boy dats coldtyga dwn bad for cuffin dat hoe i...
2     dawg rt you ever fuck a bitch and she start to...
3                                she look like a tranny
4     the shit you hear about me might be true or it...
5     the shit just blows meclaim you so faithful an...
6     i can not just sit up and hate on another bitc...
7     cause im tired of you big bitches coming for u...
8            you might not get ya bitch back thats that
9                 hobbies include fighting mariam bitch
10    keeks is a bitch she curves everyone lol i wal...
11                       murda gang bitch its gang land
12           so hoes that smoke are losers yea go on ig
13            bad bitches is the only thing that i like
14                                  bitch get up off me
15                          bitch nigga miss me with it
16                                   bitch plz whatever
17                                bitch who do you love
18                       bitches get cut off everyday b
19                             black bottle a bad bitch
Name: speech, dtype: object

In [37]:
# removing white-space
def remove_whitespaces(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'\s\s+', ' ', str(x))) # remove any double or more whitespaces to single whitespaces
    df[col] = df[col].apply(lambda x: re.sub(r'(\A\s+|\s+\Z)', '', str(x))) # remove any leading and trailing whitespace

remove_whitespaces(df, 'speech')
df.speech.head(20)

0     as a woman you shouldnt complain about cleanin...
1     boy dats coldtyga dwn bad for cuffin dat hoe i...
2     dawg rt you ever fuck a bitch and she start to...
3                                she look like a tranny
4     the shit you hear about me might be true or it...
5     the shit just blows meclaim you so faithful an...
6     i can not just sit up and hate on another bitc...
7     cause im tired of you big bitches coming for u...
8            you might not get ya bitch back thats that
9                 hobbies include fighting mariam bitch
10    keeks is a bitch she curves everyone lol i wal...
11                       murda gang bitch its gang land
12           so hoes that smoke are losers yea go on ig
13            bad bitches is the only thing that i like
14                                  bitch get up off me
15                          bitch nigga miss me with it
16                                   bitch plz whatever
17                                bitch who do you love
18                       bitches get cut off everyday b
19                             black bottle a bad bitch
Name: speech, dtype: object

In [58]:
#important libraries for preprocessing using NLTK
import nltk
from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')
from nltk.tokenize import TweetTokenizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ruth\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ruth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ruth\AppData\Roaming\nltk_data...

In [59]:
# Tokenization and Lemmatization : Returns tokenized representation of words
import gensim
def lemmatize(token):
    """Returns lemmatization of a token"""
    return WordNetLemmatizer().lemmatize(token, pos='v')

def tokenize(tweet):
    """Returns tokenized representation of words in lemma form excluding stopwords"""
    result = []
    for token in gensim.utils.simple_preprocess(tweet):
        if token not in gensim.parsing.preprocessing.STOPWORDS \
                and len(token) > 2:  # drops words with less than 3 characters
            result.append(lemmatize(token))
    return result

def tokenize_and_lemmatize(df, col):
    df[col] = df[col].apply(lambda x: tokenize(x))
    df.speech = df.speech.apply(lambda x: str(x)[1:-1])

tokenize_and_lemmatize(df, 'speech')
df.speech.head()

0    'woman', 'shouldnt', 'complain', 'clean', 'hou...
1    'boy', 'dats', 'coldtyga', 'dwn', 'bad', 'cuff...
2    'dawg', 'fuck', 'bitch', 'start', 'confuse', '...
3                             'look', 'like', 'tranny'
4     'shit', 'hear', 'true', 'faker', 'bitch', 'tell'
Name: speech, dtype: object

In [61]:
df

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,"'woman', 'shouldnt', 'complain', 'clean', 'hou..."
1,1,3,0,3,0,0,"'boy', 'dats', 'coldtyga', 'dwn', 'bad', 'cuff..."
2,2,3,0,3,0,0,"'dawg', 'fuck', 'bitch', 'start', 'confuse', '..."
3,3,3,0,2,1,0,"'look', 'like', 'tranny'"
4,4,6,0,6,0,0,"'shit', 'hear', 'true', 'faker', 'bitch', 'tell'"
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,0,"'yous', 'muthafin', 'lie', 'right', 'trash', '..."
24779,25292,3,0,1,2,0,"'youve', 'go', 'break', 'wrong', 'heart', 'bab..."
24780,25294,3,0,3,0,0,"'young', 'buck', 'wanna', 'eat', 'dat', 'niggu..."
24781,25295,6,0,6,0,0,"'youu', 'get', 'wild', 'bitch', 'tellin', 'lie'"
24782,25296,3,0,0,3,0,"'ruffle', 'ntac', 'eileen', 'dahlia', 'beautif..."

In [70]:
# separate dataframe into respective classes
hate = df[df.target == 1]
non_hate = df[df.target == 0]

,Unnamed: 0,count,hate,offensive,neutral,target,speech
0,0,3,0,0,3,0,"'woman', 'shouldnt', 'complain', 'clean', 'hou..."
1,1,3,0,3,0,0,"'boy', 'dats', 'coldtyga', 'dwn', 'bad', 'cuff..."
2,2,3,0,3,0,0,"'dawg', 'fuck', 'bitch', 'start', 'confuse', '..."
3,3,3,0,2,1,0,"'look', 'like', 'tranny'"
4,4,6,0,6,0,0,"'shit', 'hear', 'true', 'faker', 'bitch', 'tell'"
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,0,"'yous', 'muthafin', 'lie', 'right', 'trash', '..."
24779,25292,3,0,1,2,0,"'youve', 'go', 'break', 'wrong', 'heart', 'bab..."
24780,25294,3,0,3,0,0,"'young', 'buck', 'wanna', 'eat', 'dat', 'niggu..."
24781,25295,6,0,6,0,0,"'youu', 'get', 'wild', 'bitch', 'tellin', 'lie'"
24782,25296,3,0,0,3,0,"'ruffle', 'ntac', 'eileen', 'dahlia', 'beautif..."

In [72]:
# perform 75-25 training-test split 
from sklearn.model_selection import train_test_split
X_hate_train,X_hate_test, y_hate_train, y_hate_test = train_test_split(hate.speech,hate.target, test_size=0.25, random_state=42)
X_non_hate_train, X_non_hate_test, y_non_hate_train, y_non_hate_test = train_test_split(non_hate.speech,non_hate.target, test_size=0.25, random_state=42)

In [74]:
# concatenate hate and non-hate dataframe to reform entire training dataset
X_train = pd.concat((X_hate_train, X_non_hate_train), ignore_index=True)
y_train = pd.concat((y_hate_train, y_non_hate_train), ignore_index=True)
train = pd.concat([X_train, y_train], axis=1)
train.head()

                                              speech  target
0  'reject', 'constantly', 'house', 'threaten', '...       1
1  'convince', 'lame', 'nigger', 'liver', 'believ...       1
2  'peace', 'fag', 'remember', 'best', 'lux', 'su...       1
3            'haha', 'ight', 'nig', 'calm', 'yoself'       1
4  'tits', 'better', 'look', 'face', 'make', 'lik...       1

In [75]:
# concatenate hate and non-hate dataframes to reform entire test dataset
X_test = pd.concat((X_hate_test, X_non_hate_test), ignore_index=True)
y_test = pd.concat((y_hate_test, y_non_hate_test), ignore_index=True)
test = pd.concat([X_test, y_test], axis=1)
test.head()

                                              speech  target
0   'like', 'talk', 'faggot', 'nicely', 'way', 'fag'       1
1  'straight', 'guy', 'picture', 'naked', 'hot', ...       1
2  'america', 'today', 'rule', 'thumb', 'doubt', ...       1
3                                     'tell', 'coon'       1
4                          'nigguh', 'chris', 'paul'       1

In [ ]:
# Modeling Process
# For this project we will be using Neural Networks Since it is considered best for NLP
import tensorflow as tf