In [4]:
import pandas as pd 
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,ConfusionMatrixDisplay

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ruth\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [25]:
data = pd.read_csv(r"C:\Users\ruth\Documents\software courses\3rd year\2nd Semester\Fundamental Of Machine Learning\Assignment\Hate-Speech-Detection\Data\train.csv")
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [34]:
# defining a function for data processing
def data_processing(data):
    data = data.lower()
    data = re.sub(r"https\S+|www\S+http\S+", '', data)
    data = re.sub(r'\@w+|\#','', data)
    data = re.sub(r'[^\w\s]','',data)
    #data_tokens = word_tokenize(data)
    #filtered_data = [w for w in data if not w in stop_words]
    #return " ".join(filtered_data)
    return data

In [35]:
data.tweet = data['tweet'].apply(data_processing)

In [36]:
data = data.drop_duplicates('tweet')

In [37]:
#lemmatizer = WordNetLemmatizer()
#def lemmatizing(data):
    #data = [lemmatizer.lemmatize(word) for word in data]
    #return data

In [38]:
#data['tweet'] = data['tweet'].apply(lambda x: lemmatizing(x))

In [43]:
print(data['tweet'].iloc[0],"\n")
print(data['tweet'].iloc[1],"\n")
print(data['tweet'].iloc[2],"\n")
print(data['tweet'].iloc[3],"\n")
print(data['tweet'].iloc[4],"\n")

  u s e r   w h e n   a   f a t h e r   i s   d y s f u n c t i o n a l   a n d   i s   s o   s e l f i s h   h e   d r a g s   h i s   k i d s   i n t o   h i s   d y s f u n c t i o n       r u n

u s e r   u s e r   t h a n k s   f o r   l y f t   c r e d i t   i   c a n t   u s e   c a u s e   t h e y   d o n t   o f f e r   w h e e l c h a i r   v a n s   i n   p d x         d i s a p o i n t e d   g e t t h a n k e d

    b i h d a y   y o u r   m a j e s t y

m o d e l       i   l o v e   u   t a k e   w i t h   u   a l l   t h e   t i m e   i n   u r ð   ð ð ð ð  ð ð ð

  f a c t s g u i d e   s o c i e t y   n o w         m o t i v a t i o n

In [44]:
data.head()

   id  label                                              tweet
0   1      0    u s e r   w h e n   a   f a t h e r   i s   ...
1   2      0  u s e r   u s e r   t h a n k s   f o r   l y ...
2   3      0              b i h d a y   y o u r   m a j e s t y
3   4      0  m o d e l       i   l o v e   u   t a k e   w ...
4   5      0    f a c t s g u i d e   s o c i e t y   n o w ...